/* Index */
body {
    font-family: sans-serif;
}

footer {
    text-align: center;
    width: 100%;
    height: 90px;
}

.container-respons {
    min-height: calc(100vh - 90px);
}

.spanMod {
    display: block;
    overflow: hidden;
    text-align: right;
}

#modalCluster1 {
    float: right;
}

#navBarCustom {
    background-color: #00996a;
    height: 100%;
}

#navbarDropdown {
    color: white;
}

#customNB {
    color: white;
}

#navbarDropdown:hover {
    color: lightgray;
}

#customNB:hover {
    color: lightgray;
}

#disLink {
    color: white;
    pointer-events: none; 
}

.imgCFEHome{
    width: 30%;
    height: 50%;
}
.cardA {
    padding-bottom: 5%;
}
/* Multiselect */
#multi_option{
	max-width: 50%;
	width: 350px;
}
/* label{
	display:block;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 5px;
} */
.vscomp-toggle-button{
	padding: 10px 30px 10px 10px;
	border-radius: 5px;
}
/* Fin del Multiselect */



/* ----------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------Login Styles----------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------- */
.boxMod1 {
    text-align: right;
    border-right: 5px solid lightgrey;
}

.boxMod1 small {
    color: gray
}

.respons {
    width: 175%;
    left: 125%;
}

.head {
    padding: 3%; 
    letter-spacing: 0.05em;
}

.head img {
    width: 10em;
}
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------Home Styles-------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------- */
#cluster1 {
    margin-top: 20px;
    text-align: center;
}

.container h4 {
    color: grey;
}
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------Categoria Styles-------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------- */
#clusterModClase1 {
    background-color: #00996b60;
    color: #007250;
    text-align: center;
    padding: 1em;
    height: 5em;
}

#clusterModClase2 {
    position:unset;
}

.toolbar {
    float: left;
}
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------Resposive Login-------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------- */
@media (max-width:767px) {   
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------Responsive Login Styles----------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------- */
    .head {
        padding: 0.5em; 
        width: auto; 
        margin: auto;
        font-size:15px;
        letter-spacing: 0.05em;
        justify-content:center;
    }

    .respons {
        width: 21.5em;
        left: 0em;
    }
/* ----------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------Responsive Home Styles----------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------- */
    /*Home-pNavbar*/
    .imgLogo {
        width: 10em;
    }

    .syst {
        font-size: 0.8em;
    }

    .imgCFEHome {
        width: 40% ;
        height: 40% ;
    }
}